.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-justify-content: space-between; /* safari */
  justify-content:         space-between;
}

.flex-container div{
  width: 50%;

}

.flex-container img{
  width: 80%;
  height: 80%;
}

#header{
	background-image: url("../img/gakushoku.jpg");
	background-position: left top;
	background-repeat: no-repeat;
}

#menu{
  margin: 0 auto;

}

#menu h1{
  text-align: center;

}
